@using Microsoft.AspNet.Identity

@if (Session["user"] != null)
{
    var User = Session["user"] as Killer_app.Model.User;
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Usernaam + "!", "Index", "Shop")
            </li>
            <li>@Html.ActionLink("Log off", "LogOff", "LogIn")</li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
