@model PagedList.IPagedList<Killer_app.Model.Game>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Games</h2>
@Html.ActionLink("Create", "Create")
<table class="table">
    <tr>
        <th>ID</th>
        <th>Naam</th>
        <th>Prijs</th>
        <th>OudePrijs</th>
        <th>Score</th>
        <th>TrailerLink</th>
        <th>ImageLink</th>
        <th>Actions</th>
    </tr>
    @foreach (var game in Model)
    {
        <tr>

            <td>
                @game.ID
            </td>
            <td>
                @game.Naam
            </td>
            <td>
                @game.Prijs
            </td>
            <td>
                @game.OudePrijs
            </td>
            <td>
                @game.Score
            </td>
            <td>
                @game.Trailer
            </td>
            <td>
                @game.Image
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = game.ID })
                @Html.ActionLink("Delete", "Delete", new { id = game.ID })
            </td>
        </tr>
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

